body {
  border: 2px solid teal;
  padding-right: 1px;
  margin: 0px;
}

.full-container {
  background-color: red;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* ########################   DEPARTMENT INFO  ############################*/

.department-information {
  font-family: 'Roboto', sans-serif;
  display:none;
  box-shadow: 0 0 5px #999999;
  position: absolute;
  max-width: 200px;
  top: 60px;
  left: 20px;
  padding: 10px;
  background-color: white;
}

.department-information .dept-name {
  color: #26a69a;
  font-weight: bold;
}

.department-information .dept-description {
  margin-top: 10px;
  color: #959b9a;
  font-size: 13px;
}

.department-information .dept-emp-count {
  margin-top: 10px;
  color: #959b9a;
  font-size: 13px;
}

/* ############################## SEARCHBOX ######################################### */

.user-search-box {
  overflow: hidden;
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  width: 0;
  background-color: white;
  border: 1px solid #c7dddb;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #bcbcc4;
  opacity: 0.5;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bcbcc4;
  opacity: 0.5;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bcbcc4;
  opacity: 0.5;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bcbcc4;
  opacity: 0.5;
}

.user-search-box .input-box {
  width: 100%;
  height: 125px;
  padding-top: 35px;
  top: 0;
  background-color: #e8efee;
}

.user-search-box .close-button-wrapper i {
  margin: 10px;
  margin-left: 9%;
  font-size: 20px;
  font-weight: 0;
  color: #aa1414;
}

.back-button-wrapper i {
  margin: 10px;
  margin-left: 9%;
  font-size: 28px;
  font-weight: 0;
  color: #aaaaaa;
}

.back-button-wrapper i:hover {
  color: black;
  cursor: pointer;
}

.user-search-box input {
  color: gray !important;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1.25rem;
  margin: 0 0 10px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

.user-search-box input:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

.user-search-box .result-header {
  background-color: white;
  font-weight: 700;
  padding: 12px;
  color: gray;
  border-top: 2px solid #d3e8e5;
  border-bottom: 1px solid #d3e8e5;
}

.user-search-box .result-list {
  position: absolute;
  max-height: 100%;
  min-width: 100%;
  overflow: auto;
  background-color: #F5F5F5;
}

.user-search-box .buffer {
  width: 100%;
  height: 100%;
}

.user-search-box .list-item {
  clear: both;
  background-color: white;
  position: relative;
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
  border-top: 1px solid #6FA69D;
}

.user-search-box .list-item a {
  display: inline;
  margin: 0;
  background-color: #F5F5F5;
}

.user-search-box .list-item .image-wrapper {
  float: left;
  width: 75px;
  height: 75px;
}

.user-search-box .list-item .image {
  width: 45px;
  height: 45px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

.user-search-box .list-item .description {
  padding: 15px;
  padding-left: 0px;
  float: left;
  width: 180px;
}

.user-search-box .list-item .buttons {
  padding: 15px;
  padding-left: 0px;
  float: left;
  width: auto;
}
.user-search-box .list-item .description .name {
  font-size: 13px;
  color: black;
  font-weight: 900;
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
}

.user-search-box .list-item .description .entity-type {
  color: #59525b;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 100;
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

.user-search-box .list-item .description .area {
  color: #91a4a5;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  margin-top: 3px;
  padding: 0;
}
.user-search-box .list-item .btn-locate{
  margin-top:30px;
}

.user-search-box .list-item .btn-search-box{
  font-size:10px;
}

.user-search-box .close-button-wrapper i:hover {
  color: black;
  cursor: pointer;
}

.user-search-box .input-wrapper {
  width: 80%;
  margin: 0 auto;
}

.user-search-box .input-bottom-placeholder {
  margin-top: -16px;
  color: #bcbcc4;
  letter-spacing: 1px;
}


/* ############################### Tooltip css ########################### */

.profile-image-wrapper {
  background-size: 210px;
  margin: 30px;
  border-radius: 50%;
  width: 210px;
  height: 210px;
}

.customTooltip-wrapper {
  font-family: 'Roboto', sans-serif;
  opacity: 0;
  /* NEW */
  display: none;
  position: absolute;
}

.customTooltip {
  background: white;
  box-shadow: 0 0 5px #999999;
  color: #333;
  position: absolute;
  font-size: 12px;
  left: 130px;
  text-align: center;
  top: 95px;
  z-index: 10;
  text-align: left;
}

.bottom-tooltip-hr {
  width: 100%;
  background-color: #58993e;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -17px;
}

.btn-tooltip-department {
  margin-top: 20px;
}

.btn.disabled {
  background-color: #DFDFDF !important;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.btn {
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  outline: 0;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn.disabled:hover {
  box-shadow: none;
}


/* ####################################### TAGS ###################################### */

.tags {
  list-style: none;
  margin-top: -9px;
  margin-left: 5px;
  overflow: hidden;
  padding: 0;
}

.tags-wrapper {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

.tags-wrapper .title {
  color: #91a4a5;
  font-size: 24px;
}

.tags li {
  float: left;
}

.tag {
  font-size: 11px;
  background: #E1ECF4;
  border-radius: 2px;
  color: #39739d;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 5px 0 5px;
  position: relative;
  margin: 0 5px 5px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}


/* #############################   Buttons  ############################################*/

.btn-search {
  position: absolute;
  background-color: transparent; 
  border: 2px solid white; 
  border-radius: 5px; 
  color: white; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 15px; 
  padding-right: 15px;
}

.btn-tableau {
	top: 12px;
	position: absolute;
	right: 200px;
	background-color: transparent; 
	border: 2px solid white; 
	border-radius: 5px; 
	color: white; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	padding-left: 15px; 
	padding-right: 15px;
  }
  

.btn-search:after {

}

.btn-fullscreen {
  top: 70px;
    position: absolute;
  right: 25px;
}

.btn-download{
    top: 190px;
    position: absolute;
  right: 25px;
display: none !important;
}
.btn-commit{
    top: 150px;
    position: absolute;
  right: 25px;
  display: none !important;

}
.btn-back {
  top: 20px;
  left: 20px;
  display: none;
}

.btn-show-my-self {
  top: 50px;
  display: none;
}

.btn-action {
  position: absolute;
  right: 35px;
}




/* ############################################## SVG ################################# */

.nodeHasChildren {
  

}

.nodeDoesNotHaveChildren {
  

}
.nodeRepresentsCurrentUser {
  stroke: #001f2e;
  stroke-width: 3px;
}

text {
  fill: dimgray;
}

.link {
  fill: none;
  /*stroke: #ccc;*/
  /*stroke-width: 1.5px;*/
}

.link-red {
  fill: none;
  /*stroke: red;*/
  stroke-width: 1.5px;
}
.node {
  cursor: pointer;
}
/* 
.node-collapse {
  stroke: grey;
} */

.node-collapse-right-rect {
  fill: #70c645;
  stroke: #70c645;
}

.node text {
  fill: white;
  font-family: Inter,Roboto,Segoe UI, Arial, sans-serif;
  font-size: 10px;
}

.node circle {
  stroke-width: 1px;
  stroke: #003255;
  fill: #003255;
}

.node-group .entity-name {
  fill: #272727;
  font-weight: bold;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.node-group .emp-position-name {
  fill: #59525b;
}

.node-group .emp-area {
  fill: #91a4a5;
  font-size: 10px;
}

.node-group .emp-count,
.node-group .emp-count-icon {
  fill: #474747;
}

.node-group .color-category {
  fill: #272727;
}

.dropdown-box {
  /* position: absolute; */
  /* left: 25px;
  top: 90px; */
  height: 26px;
  width: 300px;

}
#filter-bar{
  margin: 0px !important;
  height: 60px;
    box-shadow: none;
    background-color: #faf9fb;
    padding-top: 10px;
    padding-left: 9px;

}

#svgDiv:active {
  cursor: grabbing;
}

.svgChart{
 
/*  height: 645px !important;
  width: 960px !important;
  overflow-x: scroll !important;
  overflow-y: hidden;
  */
    /* margin-top: 10px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 10px; */
/*    border-top: 2px solid teal;*/
cursor: pointer;
    border-bottom: 2px solid teal;
    /*border-left: 2px solid teal;
    border-right: 2px solid teal;*/
    /*overflow-x: scroll !important;*/
    /*overflow-y: hidden;*/
    background: #fff;
}

.svgChart:hover {
  cursor: pointer;
}
/*body{
  width: 99.9% !important;
}*/
/*.top-bar .ui .segment{
  text-align: center;
vertical-align: middle;
}*/

  .templink {
      fill: none;
      stroke: red;
      stroke-width: 3px;
  }
  .ghostCircle.show {
      display:block;
  }
  .ghostCircle, .activeDrag .ghostCircle {
      display: none;
  }
  .d3-context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;

  font-family: Roboto,Arial, sans-serif;
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;

  z-index:1200;
}

.d3-context-menu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: default;
}

.d3-context-menu ul li {
  padding: 4px 16px;
}

.d3-context-menu ul li:hover {
  background-color: #4677f8;
  color: #fefefe;
}
.right-float{
  float: right;
}
.sidebar-wrapper{
    position: absolute;
    top:140px;
    left:25px;
    display: block;
}
.sidebarcard {
  overflow-y: auto;
  height: 100%;
}

.svg-class{
  transform: translate(200,0);
}
.legend1{
  position: absolute;
  height: 25px;
  width: 60px;
}
.legend2{
  position: absolute;
  height: 25px;
  width: 65px;
}
.legend3{
  position: absolute;
  height: 25px;
  width: 80px;
}
.legend4{
  position: absolute;
  height: 25px;
  width: 80px;
}
.legend5{
  position: absolute;
  height: 25px;
  width: 65px;
}
.legend6{
  position: absolute;
  height: 25px;
  width: 90px;
}
.legend7{
  position: absolute;
  height: 25px;
  width: 95px;
}
.legend8{
  position: absolute;
  height: 25px;
  width: 60px;
}

.legendB1{
	position: absolute;
	height: 25px;
	width: 45px;
  }

  .legendB2{
	position: absolute;
	height: 25px;
	width: 70px;
  }
  
  .legendB3{
	position: absolute;
	height: 25px;
	width: 50px;
  }
.orange-bar{
  color: white;
  background-image: url('white label header.svg') !important;
  background-repeat:no-repeat;
  background-size:cover;
  border-radius: 0px;
  /* background-color:  #f7911f !important; */
}
.ui.card>.content>.header, .card 
{
  font-family: Roboto!important;
}

.color-box {
    width: 15px;
    height: 5px;
    display: block;
    left: 5px;
    top: 5px;
    float: right;
    margin-top: 6px;
}

.color-box-b {
    width: 10px;
    height: 10px;
    display: block;
    left: 5px;
    top: 0px;
    float: right;
    margin-top: 3px;
}

.svg-button {
	background-color: #dfdfdf;
	border: none;
	color: #909090;
  font-size: 20px;
  cursor: pointer;
	width: 40px;
	height: 40px;
	border: 1px solid black;
  }
  
  /* Darker background on mouse-over */
  .svg-button:hover {
	background-color: #b0b0b0;
	color: #404040;
  }

.detailsBar {
  font-family: Roboto!important;
  padding: 10px;
}

/* basic positioning */
.legend { list-style: none; position: absolute; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: right; width: 12px; height: 10px; margin: 2px; vertical-align: middle; }

.svg-close-div {
  position: absolute;
  margin: auto;
  width: 25px;
  margin-top: 25px;
  margin-left: 25px;
  cursor: pointer;
}

.svg-close-button {
  width: inherit;
  text-align: center;
}

.svg-close-label {
  font-size: .8em;
  line-height: 2em;
  text-transform: capitalize;
  color: #555555;
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.svg-close-button:before, .svg-close-button:after {
  position: absolute;
  content: '';
  height: 2px;
  width: inherit;
  background: #000000;
  left: 0;
  transition: all 0.3s ease-in;
}

.svg-close-button:before {
  top: 50%;
  transform: rotate(45deg);
}

.svg-close-button:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.svg-close-div:hover label {
  opacity: 1;
}

.svg-close-div:hover .svg-close-button:before,
.svg-close-div:hover .svg-close-button:after {
  transform: rotate(0);
}

.svg-close-div:hover .svg-close-button:before {
  top: 0;
}

.svg-close-div:hover .svg-close-button:after {
  bottom: 0;
}

.btn {
  text-align: center;
  color: #1a4b6b;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: calc(50% - 23px);
  background: #ffffff;
  /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);*/
  line-height: 56px;
  transition: all .1s;
}

.btn-icon {
  display: inline-block;
  height: 4px;
  position: relative;
  opacity: 1;
}
.btn-icon > * {
  width: 24px;
  height: 3px;
  position: absolute;
  top: 0;
  background-color: #1a4b6b;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.btn-icon-1 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.btn-icon-2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn:hover .btn-icon > * {
  width: 14px;
}
.btn:hover .btn-icon-1 {
  transform: translate(-50%, -50%) translate(-1px, -4px) rotate(-45deg);
}
.btn:hover .btn-icon-2 {
  transform: translate(-50%, -50%) translate(-1px, 4px) rotate(45deg);
}